appdirs==1.4.4
asgiref==3.5.2
beautifulsoup4==4.10.0
btrfsutil==5.18
CacheControl==0.12.6
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
Cheetah3==3.2.6.post2
colorama==0.4.4
contextlib2==0.6.0.post1
cryptography==37.0.2
cycler==0.11.0
distlib==0.3.4
distro==1.7.0
Django==4.0.5
django-environ==0.8.1
dnspython==2.2.1
docutils==0.18.1
environ==1.0
epc==0.0.5
filelock==3.4.2
fonttools==4.31.2
greenlet==1.1.2
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2021.12.1
html5lib==1.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
importlib-metadata==4.8.1
jedi==0.18.1
Kivy-Garden==0.1.4
kiwisolver==1.4.2
libtorrent==2.0.6
Markdown==3.3.7
matplotlib==3.5.1
more-itertools==8.12.0
msgpack==1.0.3
ordered-set==4.0.2
packaging==21.3
parso==0.8.3
pep517==0.12.0
Pillow==9.0.1
platformdirs==2.4.1
ply==3.11
progress==1.6
psutil==5.9.0
pycparser==2.21
Pygments==2.11.2
pymongo==4.0
pyOpenSSL==22.0.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
regex==2021.11.10
requests==2.27.1
resolvelib==0.5.5
retrying==1.3.3
rfc3986==1.5.0
SCons==4.3.0
sexpdata==0.0.3
shiboken2==5.15.4
six==1.16.0
sniffio==1.2.0
soupsieve==2.3.1
sqlparse==0.4.2
team==1.0
toml==0.10.2
tomli==2.0.1
urllib3==1.26.9
webencodings==0.5.1
youtube-dl==2021.12.17
zipp==3.8.0
